body {
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	background-color: #222;
	color:#DDD;
	line-height: 1.4;
	max-width:640px;
	margin:40px auto;
}

h1,h2,h3{line-height:1.2}

/* Input styling */
#search{
	width:100%;
	display:block;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
}
/*output styling*/
#result{
	width:100%;
	display:block;
	margin-left:auto;
	margin-right: auto;
	padding: 10px 5px 0 5px;

}

#searchLabel{
	margin-top:-10px;
}
input{
	background-color: #222;
	color:#666;
	width:100%;
	padding:.3em 0 .3em 0;
	text-align: center;
	font-size:3em;
	border:none;
	border-bottom:2px solid #666;
	outline: none;
}
input:focus { 
    color:#DDD;
}
.composerImage{
 width: 50px;
 height: 50px;
  border-radius: 25px;
 -webkit-border-radius: 25px;
 -moz-border-radius: 25px;
 background-size: cover;
 background-position: 50%;
 display: block;
 float:left;
 margin:0 1em 0 0;
}
.textholder{
	display:block;
}
.composer{
	color:tomato;
}
.title{
	font-weight:100;
	overflow:hidden;
}
.piece{
	margin:1em 0 1em 0;
}
.piece#proto{
	display: none;
}
@media only screen and (max-device-width: 640px)
{
	body{
		max-width:auto;
		font-size:24px;
	}
}
